<div class="section">
    <h1>Contact</h1>
    <h3>About me</h3>
    <p>
       I have been web developing since 2009, I have started with HTML, CSS, PHP, JavaScript, as a freelancer. I can tell about my-self that I am self-directed, results oriented, dependable, problem solver, attention to detail, self-improvement. In January 2011 I joined Soft Serve University, gained great experience in: team web developing, different aspects of developing a large project, learned and implemented new techniques in short period of time.
      From May 2011 I am working for Danish company Conscensia, where I started as BI developer and moved to my most desired sphere Client Side and JavaScript essentially.In future I would like to be an expert in JavaScript and cool frameworks.
    </p>
</div>
<div class="section contact">
    <img src="images/mail.png" />
    <p>             
        Email me: <span>matviyiv.nazar@gmail.com</span>
    </p>
    <img src="images/skype.png" />
    <p>             
        My Skype: <span>nazar.matviyiv</span>
    </p>
    <img src="images/phone.png" />
    <p>             
        Please Call: <span>+380931125920</span>
    </p>
    <img src="images/pin.png" />
    <p>
        Or you can visit me at: <span>Nazar Matviyiv<br> 16 Suha St. Lviv, Ukraine 79041</span>
    </p>
</div>