<div class="clearfix auction-room">
    <img src="images/box.png" alt="Img" height="342" width="368">
    <div>
        <h1>Idea</h1>
        <h2>You can buy this lot. Just put your bid.</h2>
        <h3>Buy this  idea</h3>
        <h4 class="item-price">---</h4>
        <p>
            <input type="text" pattern="\d*" placeholder="Set your bid here" class="bid-value" data-item="item2" /> 
            <span><a href="index.html" class="btn place-bid">Bid</a></span>
        </p>        
        <span class="user-notification"></span>
    </div>
</div>